<div class="d-flex flex-wrap justify-content-start">
    <%- include('emoji-button', { emoji: 'ðŸ˜Š', target }) %>
    <%- include('emoji-button', { emoji: 'ðŸ¥º', target }) %>
    <%- include('emoji-button', { emoji: 'ðŸ˜‰', target }) %>
    <%- include('emoji-button', { emoji: 'ðŸ˜', target }) %>
    <%- include('emoji-button', { emoji: 'ðŸ˜˜', target }) %>
    <%- include('emoji-button', { emoji: 'ðŸ˜š', target }) %>
    <%- include('emoji-button', { emoji: 'ðŸ˜œ', target }) %>
    <%- include('emoji-button', { emoji: 'ðŸ˜‚', target }) %>
    <%- include('emoji-button', { emoji: 'ðŸ˜', target }) %>
    <%- include('emoji-button', { emoji: 'ðŸ˜³', target }) %>
    <%- include('emoji-button', { emoji: 'ðŸ˜', target }) %>
    <%- include('emoji-button', { emoji: 'ðŸ˜£', target }) %>
    <%- include('emoji-button', { emoji: 'ðŸ˜¢', target }) %>
    <%- include('emoji-button', { emoji: 'ðŸ˜­', target }) %>
    <%- include('emoji-button', { emoji: 'ðŸ˜°', target }) %>
    <%- include('emoji-button', { emoji: 'ðŸ¥°', target }) %>
</div>
<script>
    function emojiOnClick(target, emoji){
      const textArea = document.getElementById(target)
      textArea.value = textArea.value + emoji
      textArea.focus()
    }
</script>