<div class="col-md-3 p-2">
    <% { %>
        <% const friends = user.getFriends() %>

        <div class="d-flex align-items-center">
            <h3 class="m-0"> Friends </h3>

            <span class="badge badge-primary ml-3">
                <%= friends.length %>
                <i class="now-ui-icons users_single-02"></i>
            </span>
        </div>

        <%- include('user-list', { users: friends, user }) %>
    <% }{ %>
        <% const requests = user.getRequests() %>

        <div class="d-flex align-items-center">
            <h4 class="m-0 mt-2"> Requests </h4>

            <span class="badge badge-primary ml-3">
                <%= requests.length %>
                <i class="now-ui-icons users_single-02"></i>
            </span>
        </div>

        <%- include('user-list', { users: requests, user }) %>
    <% }{ %>
        <% const pending = user.getPending() %>

        <div class="d-flex align-items-center">
            <h4 class="m-0 mt-2"> Pending </h4>

            <span class="badge badge-primary ml-3">
                <%= pending.length %>
                <i class="now-ui-icons users_single-02"></i>
            </span>
        </div>

        <%- include('user-list', { users: pending, user }) %>
    <% }{ %>
        <% const network = user.getNetwork() %>
        <div class="d-flex align-items-center">
            <h4 class="m-0 mt-2"> Network </h4>

            <span class="badge badge-primary ml-3">
                <%= network.length %>
                <i class="now-ui-icons users_single-02"></i>
            </span>
        </div>

        <%- include('user-list', { users: network, user }) %>
    <% } %>
</div>