<%- include('head') %>
<div id="content">
<header class="bg-dark text-white">
    <div class="container d-flex justify-content-between align-items-center">
        <a href="/" class="muted-anchor">
            <img class="d-block" src="/brand/logo_white-dark.png" alt="logo" height="40" title="<%= site.name %>">
        </a>

        <% if (options.user) { %>
            <%- include('search-bar', { options: null }); %>

            <div class="btn-group">
                <a href="/profile/<%= options.user.id %>" class="btn">
                    <span><%= options.user.username %></span>
                </a>
                <a href="/logout" class="btn">
                    <span class=""> Logout </span>
                </a>
            </div>
        <% } %>
    </div>
</header>
<main class="flex-grow-1">
    <div class="container">
