<% if(pagination.active){ %>
    <nav class="d-flex justify-content-center" style="margin-top: 40px">
        <ul class="group round bg-dark">
            <a
                class="text-normal btn bg-white <%= pagination.prev ? 'bg-white-hover text-blue text-dark-blue-hover' : 'bg-white-hover text-muted text-muted-hover' %>"
                href="?page=0"
            >
                First
            </a>

            <% if(pagination.prev){ %>
                <a class="text-normal btn bg-white bg-white-hover text-blue text-dark-blue-hover" href="?page=<%= pagination.index - 1 %>">
                    <%= pagination.index %>
                </a>
            <% } %>

            <a class="text-normal btn bg-white bg-white-hover text-blue text-dark-blue-hover" href="?page=<%= pagination.index %>">
                <%= pagination.index + 1 %>
            </a>

            <% if(pagination.next){ %>
                <a class="text-normal btn bg-white bg-white-hover text-blue text-dark-blue-hover" href="?page=<%= pagination.index + 1 %>">
                    <%= pagination.index + 2 %>
                </a>
            <% } %>

            <a
                class="text-normal btn bg-white <%= pagination.next ? 'bg-white-hover text-blue text-dark-blue-hover' : 'bg-white-hover text-muted text-muted-hover' %>"
                href="?page=<%= pagination.lastIndex %>"
            >
                Last
            </a>
        </ul>
    </nav>
<% } %>