<div class="m-4 px-4 pt-2 flex-grow-1 shadow d-flex flex-column flex-md-row">
    <div class="flex-grow-1">
        <div class="d-flex justify-content-between align-items-center">
            <%- include('user-field', { target: post.author, user }) %>
            <div class="text-secondary"><%= post.since %></div>
        </div>

        <%- include('post-content', { post, user }) %>
        <%- include('post-footer', { post, user }) %>
    </div>
    <% if(post.mentions.length > 0){ %>
        <div class="ml-4">
            <h5> Mentions </h5>
            <%- include('user-list', { users: post.mentions, user }) %>
        </div>
    <% } %>
</div>