<% { %>
<div class="d-flex justify-content-between">
    <div class="d-flex align-items-center">
        <% const likes = post.getLikes() %>
        <% const children = post.getAllChildren() %>

        <div class="group post-reactions">
            <a
                <% if(likes.length === 0) { %>
                    <%- include('popover', { content: 'Like this topic' }) %>
                <% } else if (likes.length > 20) { %>
                    <%- include('popover', { content: likes.length + ' likes' }) %>
                <% } else { %>
                    <%- include('popover', { content: likes.map(like => like.getUser().username).join(', ') }) %>
                <% } %>
                    href="/like/<%= post.id %>" class="btn btn-icon <%= likes.some(like => like.user_id === user.id) ? 'bg-blue bg-dark-blue-hover' : '' %> round text-nowrap">
                <% if(likes.length > 0){ %>
                    <span class="text-bold"><%= likes.length %></span>
                <% } else { %>
                    <i class="fa fa-heart"></i>
                <% } %>
            </a>

            <a
                <% if(children.length === 0) { %>
                    <%- include('popover', { content: 'Comment this topic' }) %>
                <% } else if (children.length > 20) { %>
                    <%- include('popover', { content: children.length + ' comments' }) %>
                <% } else { %>
                <%- include('popover', { content: [...new Set(children.map(post => post.getAuthor().username))].join(', ') }) %>
                    <% } %>
                    href="/post/<%= post.id %>"
                    class="btn btn-icon <%= children.some(child => child.author_id === user.id) ? 'bg-blue bg-dark-blue-hover' : '' %> round text-nowrap">
                <% if(children.length > 0){ %>
                    <span class="text-bold"><%= children.length %></span>
                <% } else { %>
                    <i class="fa fa-comment"></i>
                <% } %>
            </a>
        </div>
    </div>

    <% if(post.author_id === user.id || user.admin){ %>
        <div class="d-hover-flex align-items-end justify-content-between group">
            <a href="/post/edit/<%= post.id %>" title="Edit the post" style="margin-right: 20px">
                <i class="far fa-edit"></i>
            </a>
            <a href="/post/delete/<%= post.id %>" class="text-red" title="Delete the post">
                <i class="far fa-trash-alt"></i>
            </a>
        </div>
    <% } %>
</div>
<% } %>