<% { %>
<div class="d-flex justify-content-between">
    <div class="d-flex align-items-center m-0 p-0">
        <% const likes = post.getLikes() %>
        <form action="/like" method="post" class="m-0 p-0">
            <input type="hidden" name="user_id" value="<%= user.id %>">
            <input type="hidden" name="post_id" value="<%= post.id %>">
            <button
                    type="submit"
                    <%- include('popover', { content: 'Liked by ' + likes.map(like => like.getUser().username).join(', ') }) %>
                    class="btn btn-sm <%= likes.length > 0 ? '' : 'btn-icon' %> <%= likes.some(like => like.user_id === user.id) ? 'btn-primary' : 'btn-dark' %> btn-round text-nowrap">
                <% if(likes.length > 0){ %>
                    <%= likes.length %>
                <% } %>
                <i class="now-ui-icons ui-2_favourite-28 adapt-icon-size"></i>
            </button>
        </form>
        <% const children = post.getAllChildren() %>
        <a
                <%- include('popover', { content: children.length + ' reactions' }) %>
                href="/post/<%= post.id %>"
                class="btn btn-sm <%= children.length > 0 ? '' : 'btn-icon' %> <%= children.some(child => child.author_id === user.id) ? 'btn-primary' : 'btn-dark' %> btn-round text-nowrap">
            <% if(children.length > 0){ %>
                <%= children.length %>
            <% } %>
            <i class="now-ui-icons ui-2_chat-round adapt-icon-size"></i>
        </a>
    </div>

    <% if(post.author_id === user.id || user.admin){ %>
        <div class="my-auto p-0 d-sub-hover text-nowrap">
            <a href="/post/edit/<%= post.id %>" class="text-info mx-1 decoration-none">
                <i class="far fa-edit"></i>
            </a>
            <a href="/post/delete/<%= post.id %>" class="text-danger mx-1 decoration-none">
                <i class="far fa-trash-alt"></i>
            </a>
        </div>
    <% } %>
</div>
<% } %>