<div class="m-4 px-4 pt-2 flex-grow-1 shadow d-flex">
    <div class="flex-grow-1">
        <div class="d-flex justify-content-between align-items-center">
            <%- include('user-field', { target: post.author, user }) %>
            <div class="text-secondary"><%= post.since %></div>
        </div>

        <p class="p-2 m-0"><%= post.content %></p>

        <%- include('post-footer', { post, user }) %>
    </div>
    <div class="ml-4">
        <h5> Mentions </h5>
        <% if(post.mentions.length > 0){ %>
            <%- include('user-list', { users: post.mentions, user }) %>
        <% } %>
    </div>
</div>