<%
{
    const isAlreadyLinked = user.getPending().some(u => u.id === target.id)
    const isFriend = user.isFriendWith(target)
    const isMe = target.id === user.id
%>
<div
        class="d-flex align-items-center justify-content-between p-0 m-0"
        style="height: 25px">
    <a class="text-nowrap d-flex align-items-center muted-anchor px-2 py-auto overflow-hidden" href="/wall/<%= target.id %>" style="max-width: 100px">
        <i
                class="now-ui-icons users_single-02 <%= isMe ? 'text-primary' : (target.online ? 'text-success' : '') %>"
                title="<%= target.username + ' is ' + (target.online ? 'online' : 'offline') %>"
        ></i>
        <span class="text-align-center m-0 p-0 px-1 mx-2 text-monospace <%= isMe ? 'text-primary' : '' %>">
            <%= target.username %>
        </span>
    </a>
    <div class="text-nowrap d-flex align-items-center overflow-hidden">
        <% if(user.admin || isMe) { %>
            <a
                    <%- include('popover', { content: '⚠️ Delete ' + (isMe ? 'your' : 'user') + ' account ⚠' }) %>
                    href="/unsubscribe/<%= target.id %>"
                    class="d-sub-hover text-danger m-1 p-1"
                    title="Warning!">
                <i class="now-ui-icons ui-1_simple-remove"></i>
            </a>
        <% } %>
        <% if (!isMe) { %>
            <a
                    href="/link/<%= target.id %>"
                    class="d-sub-hover m-1 p-1 <%= isFriend ? 'text-danger' : (isAlreadyLinked ? 'text-dark' : 'text-success') %>"
                    title="Remove from <%= isFriend ? 'friend-list' : 'pending-list'%>">
                <i class="now-ui-icons <%= isFriend ? 'ui-1_simple-delete' : (isAlreadyLinked ? 'ui-1_simple-delete' : 'ui-1_simple-add') %>"></i>
            </a>
        <% } %>
    </div>
</div>
<% } %>