<%
{
    const isAlreadyLinked = user.getPending().some(u => u.id === target.id)
    const isFriend = user.isFriendWith(target)
    const isMe = target.id === user.id
%>
<div class="user trigger-bis">
    <a
        class="text-nowrap d-flex align-items-center muted-anchor overflow-hidden"
        href="/profile/<%= target.id %>"
    >
        <i
                class="picture fa fa-user-circle <%= isMe ? 'text-dark-blue' : (target.online ? 'text-blue' : '') %>"
                title="<%= target.username + ' is ' + (target.online ? 'online' : 'offline') %>"
        ></i>
        <span class="username <%= isMe ? 'text-dark-blue' : '' %>">
            <%= target.username %>
        </span>
    </a>
    <div class="text-nowrap d-flex align-items-center">
        <% if(user.admin) { %>
            <a
                <%- include('popover', { content: '⚠️ Delete user account ⚠' }) %>
                title="⚠️ Delete user account ⚠️ "
                href="/unsubscribe/<%= target.id %>"
                class="d-hover-bis text-red text-red-hover"
                style="margin-left: var(--half)"
            >
                <i class="far fa-trash-alt"></i>
            </a>
        <% } %>
        <% if (!isMe) { %>
            <a
                href="/link/<%= target.id %>"
                class="d-hover-bis <%= isFriend ? 'text-red text-red-hover' : (isAlreadyLinked ? 'text-dark text-dark-blue-hover' : 'text-blue text-dark-blue-hover') %>"
                title="<%= isFriend ? 'Remove from friend-list' : (isAlreadyLinked ? 'Remove from pending-list' : 'Send friend request')%>"
                style="margin-left: var(--half)"
            >
                <i class="fas fa-user-<%= isFriend ? 'times' : (isAlreadyLinked ? 'minus' : 'plus') %>"></i>
            </a>
        <% } %>
    </div>
</div>
<% } %>