<%- include('../partials/header', { options: { user } }); %>

<div class="p-2 flex-grow-1">
    <h3 class="m-0"><%= user.username + "'s" %> feed</h3>

    <%- include('../partials/post-form', { action: 'post', post: null, user }) %>
    <%- include('../partials/post-list', { pagination: user.getFeedPagination(pageIndex), user }) %>
</div>

<hr class="d-md-none">

<%- include('../partials/friends', { user, target: user }); %>
<%- include('../partials/footer'); %>