<% { %>
    <% const title = user.username.endsWith("'") ? user.username + "s feed" : user.username + "'s feed" %>

    <%- include('../partials/header', { options: { user }, title }); %>

    <h1 class=""><%= title %></h1>
<% } %>

<%- include('../partials/post-form', { action: 'post', post: null, user }) %>
<%- include('../partials/post-list', { pagination: user.getFeedPagination(pageIndex), user }) %>
<%- include('../partials/friends', { user, target: user }); %>
<%- include('../partials/footer'); %>