<% { %>
    <% const own = user.id === target.id %>
    <% const title = target.username.endsWith("'") ? target.username + "s posts" : target.username + "'s posts" %>

    <%- include('../partials/header', { options: { user }, title }); %>

    <div class="flex-grow-1">
        <h1><%= own ? "Your posts" : title %></h1>

        <% if(own){ %>
            <%- include('../partials/post-form', { action: 'post', post: null, user }) %>
        <% } %>

        <%- include('../partials/post-list', { pagination: target.getPostsPagination(pageIndex), user }) %>
    </div>
<% } %>

<%- include('../partials/friends', { user, target: user }); %>
<%- include('../partials/footer'); %>