<%- include('../partials/header', { logged: true }) %>

<div class="p-2">
    <h3 class="m-0"> Topic </h3>

    <%- include('../partials/post-breadcrumb', { post }) %>

    <div class="d-flex">
        <%- include('../partials/post', { user, post }) %>
    </div>

    <hr>

    <h3 class="m-0"> Reactions </h3>

    <%- include('../partials/post-form', { action: 'comment', user, post }) %>

    <div class="d-flex flex-wrap">
        <% for(const child of post.getChildren()) { %>
            <%- include('../partials/post-card', { user, post: child }) %>
        <% } %>
    </div>
</div>

<%- include('../partials/friends', { user, target: user }); %>
<%- include('../partials/footer') %>