<%- include('../partials/header', { options: { user } }); %>

<div class="p-2">
    <h3 class="m-0"> Post editor </h3>

    <%- include('../partials/post-breadcrumb', { post }) %>

    <%- include('../partials/post-form', { action: 'edit', post, user }) %>

    <div class="d-flex flex-wrap">
        <% for(const child of post.getChildren()) { %>
            <%- include('../partials/post-card', { user, post: child }) %>
        <% } %>
    </div>
</div>

<%- include('../partials/friends', { user, target: user }); %>
<%- include('../partials/footer') %>