<%- include('../partials/header', { options: { user }, title: 'Post edition' }); %>

<div class="flex-grow-1">
    <h1> Post editor </h1>

    <%- include('../partials/post-breadcrumb', { post }) %>

    <%- include('../partials/post-form', { action: 'edit', post, user }) %>

    <div class="d-flex flex-wrap">
        <% for(const child of post.getChildren()) { %>
            <%- include('../partials/post-card', { user, post: child }) %>
        <% } %>
    </div>
</div>

<%- include('../partials/friends', { user, target: user }); %>
<%- include('../partials/footer') %>