<%- include('../partials/header', { options: { user } }); %>

<div>
    <h2 style="margin-bottom: 20px"> <%= target.username %>'s profile </h2>
    <div class="group" style="margin-bottom: 40px">
        <a class="btn round" href="/posts/<%= target.id %>"><%= target.getPosts().length %> posts</a>
    </div>
    <% if(target.id === user.id || user.admin){ %>
        <form action="/profile/<%= target.id %>" method="post" class="form shadow">
            <h3> Edit profile </h3>
            <div class="group-column" style="margin-bottom: 20px">
                <input class="input-text rect-hover shadow-inset" type="text" name="username" value="<%= target.username %>" placeholder="New username">
                <input class="input-text rect-hover shadow-inset" type="password" name="new_password" placeholder="New password">
            </div>
            <input class="input-text rect-hover shadow-inset" type="password" name="old_password" placeholder="Current password" <%= user.admin ? '' : 'required' %>>
            <div class="group">
                <a href="/unsubscribe/<%= target.id %>" class="btn rect-hover bg-red-hover" title="Delete account">Delete</a>
                <input type="submit" value="Edit" class="btn rect-hover bg-dark-blue bg-blue-hover" title="Patch account">
            </div>
        </form>
    <% } %>
</div>

<%- include('../partials/friends', { user, target }); %>
<%- include('../partials/footer') %>