<%- include('../partials/header', { options: { user } }); %>

<div class="flex-grow-1">
    <div class="d-flex align-items-center">
        <h3 class="m-0"> Results </h3>

        <%- include('../partials/search-bar', { options: { search } }) %>

        <div class="text-nowrap">
            <span class="badge badge-primary">
                <%= results.users.length %>
                <i class="d-md-none now-ui-icons users_single-02"></i>
                <span class="d-none d-md-inline">users</span>
            </span>
            <span class="badge badge-primary">
                <%= results.posts.length %>
                <i class="d-md-none now-ui-icons ui-1_email-85"></i>
                <span class="d-none d-md-inline">posts</span>
            </span>
        </div>
    </div>

    <div class="d-md-flex">
        <% if(results.users.length > 0){ %>
            <div class="col-md-4">
                <h4> Users </h4>
                <%- include('../partials/user-list', { users: results.users, user }) %>
            </div>
        <% } %>

        <hr class="d-block d-md-none">

        <% if(results.posts.page.length > 0){ %>
            <div class="col-md-8 flex-grow-1 d-flex flex-column">
                <h4> Posts </h4>

                <div class="d-flex flex-wrap flex-grow-1">
                    <% for(const post of results.posts.page){ %>
                        <%- include('../partials/post-card', { post, user }) %>
                    <% } %>
                </div>

                <%- include('../partials/pagination', { pagination: results.posts }) %>
            </div>
        <% } %>
    </div>
</div>

<%- include('../partials/friends', { user, target: user }); %>
<%- include('../partials/footer'); %>