<%- include('../partials/header', { options: { user }, title: 'Search' }); %>

<div class="flex-grow-1">
    <div class="d-flex align-items-center">
        <h1 style="margin-right: var(--space)"> Results </h1>

        <%- include('../partials/search-bar', { options: { search, classes: 'bg-white bg-white-hover text-dark text-dark-blue-hover rect-hover shadow' } }) %>

        <div class="d-flex justify-content-center text-bold" style="margin-left: var(--space)">
            <div style="margin-right: var(--space)">
                <i class="fa fa-user"></i>
                <%= results.users.length + (results.moreUsers ? "+" : "") %>
                <span>users</span>
            </div>
            <div>
                <i class="fa fa-comment"></i>
                <%= results.posts.page.length %>
                <span>posts</span>
            </div>
        </div>
    </div>

    <div>
        <% if(results.users.length > 0){ %>
            <div style="margin-top: var(--space)">
                <%- include('../partials/user-list', { users: results.users, user }) %>
            </div>
        <% } %>

        <% if(results.posts.page.length > 0){ %>
            <%- include('../partials/post-list', { pagination: results.posts, pageIndex }) %>
        <% } %>
    </div>
</div>

<%- include('../partials/friends', { user, target: user }); %>
<%- include('../partials/footer'); %>