<%- include('../partials/header', { logged: true }); %>

<div class="col-md-9">

    <div class="d-flex align-items-center">
        <h3 class="m-0"> Results </h3>

        <%- include('../partials/search-bar', { options: { search } }) %>

        <div class="text-nowrap">
            <span class="badge badge-primary">
                <%= results.users.length %>
                <i class="d-md-none now-ui-icons users_single-02"></i>
                <span class="d-none d-md-inline">users</span>
            </span>
            <span class="badge badge-primary">
                <%= results.posts.length %>
                <i class="d-md-none now-ui-icons ui-1_email-85"></i>
                <span class="d-none d-md-inline">posts</span>
            </span>
        </div>
    </div>

    <div class="d-flex">
        <% if(results.users.length > 0){ %>
            <div>
                <h4> Users </h4>
                <%- include('../partials/user-list', { users: results.users, user }) %>
            </div>
        <% } %>

        <% if(results.posts.length > 0){ %>
            <div>
                <h4> Posts </h4>
                <div class="d-flex flex-wrap flex-grow-1">
                    <% for(const post of results.posts){ %>
                        <%- include('../partials/post-card', { post, user }) %>
                    <% } %>
                </div>
            </div>
        <% } %>
    </div>
</div>
<div class="col-md-3 d-none d-md-block">
    <%- include('../partials/friends', { user }); %>
</div>

<%- include('../partials/footer'); %>