<%- include('../partials/header', { logged: true }); %>

<% const own = user.id === target.id %>

<div class="p-2">

    <h3 class="m-0"><%= own ? "Feed" : (target.username + " posts") %></h3>

    <% if(own){ %>
        <%- include('../partials/post-form', { action: 'post', post: null, user }) %>
    <% } %>

    <div class="d-flex flex-wrap">
        <%
            if(own){
                for(const post of user.getWall()){
                    %><%- include('../partials/post-card', { post, user }) %><%
                }
            } else {
                for(const post of target.getPosts()){
                    %><%- include('../partials/post-card', { post, user }) %><%
                }
            }
        %>
    </div>
</div>

<hr class="d-md-none">

<%- include('../partials/friends', { user }); %>
<%- include('../partials/footer'); %>