<%- include('../partials/header', { logged: true }); %>

<div class="col-md-9">

    <h3 class="m-0"> Feed </h3>

    <form action="post" method="POST" id="post">
        <input type="hidden" name="redirect" value="/wall">
        <input type="hidden" name="author_id" value="<%= user.id %>">
        <div class="form-group">
            <textarea name="content" placeholder="Post your advice..." class="form-control" autofocus form="post"></textarea>
        </div>
        <input type="submit" class="btn btn-dark btn-round">
    </form>

    <div class="d-flex flex-wrap">
        <% for(const data of user.wall){ const post = getFullPost(data); %>
            <%- include('../partials/post', { post, user, redirect: '/wall' }) %>
        <% } %>
    </div>
</div>
<div class="col-md-3 d-none d-md-block">
    <%- include('../partials/friends', { user }); %>
</div>

<%- include('../partials/footer'); %>